---
import "../css/components/Header.css";
---

<header>
  <nav>
    <ul>
      <a href="/" class="logo-text">TRACK</a>
      <li>
        <a href="/1eso">1ºESO</a>
      </li>
      <li><a href="/2eso">2ºESO</a></li>
      <li><a href="/3eso">3ºESO</a></li>
      <li><a href="/4eso">4ºESO</a></li>
    </ul>
  </nav>
</header>
