---
import Header from "../components/Header.astro";

interface Props {
  title: string;
  icon: string;
}

const { title, icon } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link rel="icon" type="image/jpg" href={icon} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>

<style is:global>
  html {
    width: 100%;
    height: 100%;
    /* Add your background pattern here */
    background-color: #ffffff;
    background-image: radial-gradient(
      rgba(12, 12, 12, 0.171) 2px,
      transparent 0
    );
    background-size: 30px 30px;
    background-position: -5px -5px;
    background-attachment: fixed;
  }
</style>
